@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    background-attachment: fixed;
    background-image: linear-gradient(160deg, #b92b27, #1465c0);
    font-family: "Helvetica", sans-serif;
    color: black;
}

#xkcdflexdiv {
    position: fixed; /* fullscreen so we can center comics both ways */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* click through so weather data is selectable */
}

#xkcddiv {
    pointer-events: auto;
    font-family: "Afacad Flux";

    text-align: center;
    letter-spacing: 0.1em;

    background-color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1vh;
    border: 2px solid black;
    border-radius: 15px;
}

#imgdiv {
    max-height: 75vh;
    max-width: 780px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.divinitial {
    width: 780px;
    height: 480px;
}

#xkcdimg {
    max-width: 85vw;
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

#xkcdtitle {
    font-size: 24px;
    margin: 2px;
}

#xkcdlink {
    font-size: 12px;
}

#permbutton {
    position: absolute;
    font-family: "Afacad Flux";
    background-color: white;

    margin-top: 10px;
    margin-left: 10px;

    width: 160px;
    height: 24px;
    z-index: 99999;
}